# Data Science Tools and Ecosystems

In this notebook, Data Science Tools and Ecosystems are summarized

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries by Data Scientists
- List some Data Science Tools
- Few Examples of evaluating Arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. Seaborn
3. ggplot

|Data Science Tools|
|------------------|
|Jupyter           |
|RStudio           |
|Pixie Dust        |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
minutes=200%60
hours=200//60
print(hours,"hours",minutes,"minutes")

3 hours 20 minutes

## Author
Gaganageethika